<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{{ search['owner'] }} {{ search['tag'] }} タスク</title>
    <style type="text/css">
		* { font-size  : 1em;	}
		p { margin  : 5px;	}
		section h1 { margin-bottom  : 0px;	}
		footer { margin-top  : 3em;	}
    </style>
</head>
<body>

<h1><a href="{{ url_for('task.index') }}">タスク</a>
    <select name="select" onChange="location.href=value;">
        <option value="{{ url_for('task.index', change='sort', to='', **search) }}">重要度順</option>
        <option value="{{ url_for('task.index', change='sort', to='time', **search) }}"{% if search['sort'] == "time" %} selected{% endif %}>登録順</option>
        <option value="{{ url_for('task.index', change='sort', to='update', **search) }}"{% if search['sort'] == "update" %} selected{% endif %}>更新順</option>
        <option value="{{ url_for('task.index', change='sort', to='cost', **search) }}"{% if search['sort'] == "cost" %} selected{% endif %}>コスト順</option>
        <option value="{{ url_for('task.index', change='sort', to='title', **search) }}"{% if search['sort'] == "title" %} selected{% endif %}>タスク名順</option>
    </select>
    <select name="select" onChange="location.href=value;">
        <option value="{{ url_for('task.index', change='cycle', to='', **search) }}">全種</option>
        <option value="{{ url_for('task.index', change='cycle', to='none', **search) }}"{% if search['cycle'] == "none" %} selected{% endif %}>単発</option>
        <option value="{{ url_for('task.index', change='cycle', to='time', **search) }}"{% if search['cycle'] == "routine" %} selected{% endif %}>定期</option>
        <option value="{{ url_for('task.index', change='cycle', to='randomly', **search) }}"{% if search['cycle'] == "randomly" %} selected{% endif %}>不定</option>
    </select>

  {%- if search['owner'] %}
    {{ search['owner'] }}
  {%- endif -%}

  {%- if search['tag1st'] %}
    {{ search['tag1st'] }}
  {%- endif -%}

  {%- if search['cost'] %}
    コスト:{{ search['cost'] }}
  {%- endif -%}

  {%- if search['tag'] %}
    {{ search['tag'] }}
  {%- endif -%}
</h1>

<nav>
    <a href="{{ url_for('task.tag1stlist') }}">一覧</a>

    <select name="select" onChange="location.href=value;">
        <option value="#">はじめに</option>
        <option value="{{ url_for('task.index', tag1st='日 初') }}">日初</option>
        <option value="{{ url_for('task.index', notag='') }}">未分類</option>
        <option value="{{ url_for('task.index', rate='0only') }}">未要度</option>
        <option value="{{ url_for('task.index', cost='0') }}">未見積</option>
        <option value="{{ url_for('task.index', cost='1', cycle='none', owner='-買', tag='-買' , rate='3over') }}">すぐやる</option>
        <option value="{{ url_for('task.index', tag1st='週 初') }}">週初</option>
        <option value="{{ url_for('task.index', tag1st='月 初') }}">月初</option>
        <option value="{{ url_for('task.index', tag1st='年 初') }}">年初</option>
    </select>

    <select name="select" onChange="location.href=value;">
        <option value="#">よく使う</option>
        <option value="{{ url_for('task.index', tag='考') }}">考</option>
        <option value="{{ url_for('task.index', tag='日') }}">日</option>
        <option value="{{ url_for('task.index', tag='ｱﾚ') }}">ｱﾚ</option>
        <option value="{{ url_for('task.index', tag='買') }}">買い物</option>
        <option value="{{ url_for('task.index', tag='処理待箱') }}">処理待箱</option>
    </select>

    <select name="select" onChange="location.href=value;">
        <option value="#">その他</option>
        <option value="{{ url_for('task.index', tag='週', rate='4') }}">週</option>
        <option value="{{ url_for('task.index', tag='月', rate='4') }}">月</option>
        <option value="{{ url_for('task.index', tag='年', rate='4') }}">年</option>
        <option value="{{ url_for('task.index', cycle='randomly') }}">不定期繰返し</option>
        <option value="{{ url_for('task.index', tag='娯') }}">娯楽</option>
        <option value="{{ url_for('task.index', tag='環') }}">環境構築</option>
        <option value="{{ url_for('task.index', tag='暮') }}">生活</option>
        <option value="{{ url_for('task.index', tag='調') }}">調べ物</option>
        <option value="{{ url_for('task.index', tag='作') }}">創作</option>
        <option value="{{ url_for('task.index', tag='日曜') }}">日曜日</option>
        <option value="{{ url_for('task.index', tag='月曜') }}">月曜日</option>
        <option value="{{ url_for('task.index', tag='火曜') }}">火曜日</option>
        <option value="{{ url_for('task.index', tag='水曜') }}">水曜日</option>
        <option value="{{ url_for('task.index', tag='木曜') }}">木曜日</option>
        <option value="{{ url_for('task.index', tag='金曜') }}">金曜日</option>
        <option value="{{ url_for('task.index', tag='土曜') }}">土曜日</option>
        <option value="#">曜日(未実装)</option>
    </select>

    <br>

  {% if search['rate'] == "1only" -%}
    <a href="{{ url_for('task.index', change='rate', to='', **search) }}">★</a>
  {%- else -%}
    <a href="{{ url_for('task.index', change='rate', to='1only', **search) }}">
      {%- if not "only" in search['rate'] and search['rate'] | int >= 1 %}★{% else %}☆{% endif -%}
    </a>
  {%- endif -%}
  {%- if search['rate'] == "2only" -%}
    <a href="{{ url_for('task.index', change='rate', to='2', **search) }}">★</a>
  {%- elif search['rate'] == "2" -%}
    <a href="{{ url_for('task.index', change='rate', to='', **search) }}">★</a>
  {%- else -%}
    <a href="{{ url_for('task.index', change='rate', to='2only', **search) }}">
      {%- if not "only" in search['rate'] and search['rate'] | int >= 2 %}★{% else %}☆{% endif -%}
    </a>
  {%- endif -%}
  {%- if search['rate'] == "3only" -%}
    <a href="{{ url_for('task.index', change='rate', to='3', **search) }}">★</a>
  {%- elif search['rate'] == "3" -%}
    <a href="{{ url_for('task.index', change='rate', to='', **search) }}">★</a>
  {%- else -%}
    <a href="{{ url_for('task.index', change='rate', to='3only', **search) }}">
      {%- if not "only" in search['rate'] and search['rate'] | int >= 3 %}★{% else %}☆{% endif -%}
    </a>
  {%- endif -%}
  {%- if search['rate'] == "4only" -%}
    <a href="{{ url_for('task.index', change='rate', to='4', **search) }}">★</a>
  {%- elif search['rate'] == "4" -%}
    <a href="{{ url_for('task.index', change='rate', to='', **search) }}">★</a>
  {%- else -%}
    <a href="{{ url_for('task.index', change='rate', to='4only', **search) }}">
      {%- if not "only" in search['rate'] and search['rate'] | int >= 4 %}★{% else %}☆{% endif -%}
    </a>
  {%- endif -%}
  {%- if search['rate'] == "5only" -%}
    <a href="{{ url_for('task.index', change='rate', to='5', **search) }}">★</a>
  {%- elif search['rate'] == "5" -%}
    <a href="{{ url_for('task.index', change='rate', to='', **search) }}">★</a>
  {%- else -%}
    <a href="{{ url_for('task.index', change='rate', to='5only', **search) }}">
      {%- if not "only" in search['rate'] and search['rate'] | int >= 5 %}★{% else %}☆{% endif -%}
    </a>
  {%- endif %}

  {%- if search['cost'] -%}
    <a href="{{ url_for('task.index', change='cost', to='', **search) }}">コスト{{ search['cost'] }}</a>
  {%- endif %}
    <a href="{{ url_for('task.index', change='owner', to='', **search) }}">{{ search['owner'] }}</a>
    <a href="{{ url_for('task.index', change='tag1st', to='', **search) }}">{{ search['tag1st'] }}</a>
    <a href="{{ url_for('task.index', change='tag', to='', **search) }}">{{ search['tag'] }}</a>
  {%- if search['tag'] -%}
    {%- if search['tag'][0] != '-' -%}
    <a href="{{ url_for('task.index', change='tag', to='-'+search['tag'], **search) }}"> -</a>
    {%- else -%}
    <a href="{{ url_for('task.index', change='tag', to=search['tag'][1:], **search) }}"> +</a>
    {%- endif %}
  {%- endif %}
</nav>

<form method="post" action="{{ url_for('task.create') }}">
    <input name="title" id="title" style="width:100%;" value="{{ request.form['title'] }}" required>
    <input id="btn" class="submitbutton" type="submit" value="Save">
    <a href="{{ url_for('task.create', owner=search['owner'], tag=search['tag']) }}">New</a>

    <input type="hidden" name="owner" id="owner" value="{{ search['owner'] }}">
    <input type="hidden" name="tag" id="tag" value="{{ search['tag'] }}">
    <input type="hidden" name="rate" id="rate" value="{{ search['rate'] }}">
    <input type="hidden" name="body" id="body" value="">
    <input type="hidden" name="cost" id="cost" value="{{ search['cost'] }}">
    <input type="hidden" name="sort" id="sort" value="{{ search['sort'] }}">

    <script type="text/javascript">
        var textbox = document.getElementById('title');
        var submitButton = document.getElementById('btn');
        textbox.addEventListener('keydown',
                        function (e) {
                            key = e.which;
                            if (sbmit === false && (e.metaKey || e.ctrlKey) && e.which == 13) {
                                submitButton.click();
                            }
                        },
                        false
                        );
    </script>
</form>

<article>
  {% for key, value in tasks.items() %}
    <section>
        <h1>{{ key }}</h1>
      {% for task in value %}
        <div>
          {% if task['状態'] == '完' %}
            <a href="{{ url_for('task.restore', number=task['連番'], **search) }}">☑</a>
            <a href="{{ url_for('task.doing', number=task['連番'], **search) }}">▷</a>
          {% elif task['状態'] == '未' %}
            <a href="{{ url_for('task.done', number=task['連番'], **search) }}">☐</a>
            <a href="{{ url_for('task.doing', number=task['連番'], **search) }}">▷</a>
          {% elif task['状態'] == '！' %}
            <a href="{{ url_for('task.done', number=task['連番'], **search) }}">☐</a>
            <a href="{{ url_for('task.doing', number=task['連番'], **search) }}">▷</a>
            <a href="{{ url_for('task.restore', number=task['連番'], **search) }}">↩</a>
            <span style="font-size  : 0.5em;">{{ task['変更日時'] | jptime}}</span>
          {% else %}
            <span style="font-size  : 0.5em;">{{ task['変更日時'] | jptime}}</span>
          {% endif %}

          {% if task['完了日時'] %}
            <span style="font-size  : 0.5em;">{{ task['utcP9time']}}</span>
            予{{ task['コスト'] }}
            <a href="{{ url_for('task.costup', number=task['連番'], **search) }}">実{{ task['実コスト'] }}</a>
          {% else %}
            {% if task['重要度'] == 1 -%}
              <a href="{{ url_for('task.rateto', number=task['連番'], change=0, **search) }}">★</a>
            {%- else -%}
              <a href="{{ url_for('task.rateto', number=task['連番'], change=1, **search) }}">
              {%- if task['重要度'] > 0 %}★{% else %}☆{% endif -%}
              </a>
            {%- endif -%}
              <a href="{{ url_for('task.rateto', number=task['連番'], change=2, **search) }}">
                {%- if task['重要度'] > 1 %}★{% else %}☆{% endif -%}
              </a><a href="{{ url_for('task.rateto', number=task['連番'], change=3, **search) }}">
                {%- if task['重要度'] > 2%}★{% else %}☆{% endif -%}
              </a><a href="{{ url_for('task.rateto', number=task['連番'], change=4, **search) }}">
                {%- if task['重要度'] > 3 %}★{% else %}☆{% endif -%}
              </a><a href="{{ url_for('task.rateto', number=task['連番'], change=5, **search) }}">
                {%- if task['重要度'] > 4 %}★{% else %}☆{% endif -%}
              </a>
              <a href="{{ url_for('task.costup', number=task['連番'], **search) }}">{{ task['コスト'] }}</a>
          {%- endif %}
            :
            <a href="{{ url_for('task.index', change='owner', to=task['所有者'], **search) }}">{{ task['所有者'] }}</a>
            {{ task['タスク名'] }}{% if task['備考'] %} ※ {% endif %}
          {% for tag in tags[task['連番']] %}
            <a href="{{ url_for('task.index', change='tag', to=tag, **search) }}" style="font-size  : 0.6em">{{ tag }}</a>
          {% endfor %}
            <a style="font-size  : 0.8em;" href="{{ url_for('task.update', number=task['連番'], **search) }}">📝</a>

        </div>
      {% endfor %}
    </section>
  {% endfor %}
</article>


<footer>
    <form action="{{ url_for('task.index',site=site) }}" method="GET">
        <input id="search" class="text" type="text" value="{{ search['title'] }}" name="title">
        <input class="submitbutton" type="submit" value="検索">
    </form>
    <a href="{{ url_for('task.コスト集計') }}">コスト集計</a>
    <br>
  {% if g.user %}
    <span>{{ g.user['username'] }}</span>
    <a href="{{ url_for('auth.logout') }}">Log Out</a>
  {% else %}
    <a href="{{ url_for('auth.register') }}">Register</a>
    <a href="{{ url_for('auth.login') }}">Log In</a>
  {% endif %}
</footer>

</body>
</html>