<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{{ search['title'] }} {{ search['owner'] }} {{ search['tag'] }} タスク</title>
    <style type="text/css">
		* { font-size  : 1em;	line-height:1;}
		body { margin  : 1px;	}
		p { margin  : 5px;	}
		section h1 { margin-bottom  : 0px;	}
		footer { margin-top  : 3em;	}
    </style>
</head>
<body>

<h1><a href="{{ url_for('task.index') }}">タスク</a>
    <select name="select" onChange="location.href=value;">
        <option value="{{ url_for('task.index', change='status', to='', **search) }}">全状態</option>
        <option value="{{ url_for('task.index', change='status', to='！！', **search) }}"{% if search['status'] == "！！" %} selected{% endif %}>！！</option>
        <option value="{{ url_for('task.index', change='status', to='！', **search) }}"{% if search['status'] == "！" %} selected{% endif %}>！</option>
        <option value="{{ url_for('task.index', change='status', to='次', **search) }}"{% if search['status'] == "次" %} selected{% endif %}>次</option>
        <option value="{{ url_for('task.index', change='status', to='未', **search) }}"{% if search['status'] == "未" %} selected{% endif %}>未</option>
        <option value="{{ url_for('task.index', change='status', to='後', **search) }}"{% if search['status'] == "後" %} selected{% endif %}>後</option>
        <option value="{{ url_for('task.index', change='status', to='待', **search) }}"{% if search['status'] == "待" %} selected{% endif %}>待</option>
        <option value="{{ url_for('task.index', change='status', to='完', **search) }}"{% if search['status'] == "完" %} selected{% endif %}>完</option>
        <option value="{{ url_for('task.index', change='status', to='保留', **search) }}"{% if search['status'] == "保留" %} selected{% endif %}>保留</option>
    </select>
    <select name="select" onChange="location.href=value;">
        <option value="{{ url_for('task.index', change='sort', to='', **search) }}">重要度順</option>
        <option value="{{ url_for('task.index', change='sort', to='time', **search) }}"{% if search['sort'] == "time" %} selected{% endif %}>登録順</option>
        <option value="{{ url_for('task.index', change='sort', to='update', **search) }}"{% if search['sort'] == "update" %} selected{% endif %}>更新順</option>
        <option value="{{ url_for('task.index', change='sort', to='cost', **search) }}"{% if search['sort'] == "cost" %} selected{% endif %}>ポイント順</option>
        <option value="{{ url_for('task.index', change='sort', to='title', **search) }}"{% if search['sort'] == "title" %} selected{% endif %}>タスク名順</option>
    </select>
    <select name="select" onChange="location.href=value;">
        <option value="{{ url_for('task.index', change='cycle', to='', **search) }}">全種</option>
        <option value="{{ url_for('task.index', change='cycle', to='none', **search) }}"{% if search['cycle'] == "none" %} selected{% endif %}>単発</option>
        <option value="{{ url_for('task.index', change='cycle', to='routine', **search) }}"{% if search['cycle'] == "routine" %} selected{% endif %}>定期</option>
        <option value="{{ url_for('task.index', change='cycle', to='randomly', **search) }}"{% if search['cycle'] == "randomly" %} selected{% endif %}>不定</option>
    </select>

  {%- if search['owner'] %}
    {{ search['owner'] }}
  {%- endif -%}

  {%- if search['tag1st'] %}
    {{ search['tag1st'] }}
  {%- endif -%}

  {%- if search['cost'] %}
    {{ search['cost'] }}p
  {%- endif -%}

  {%- if search['tag'] %}
    {{ search['tag'] }}
  {%- endif -%}
</h1>

<nav>
    <a href="{{ url_for('task.linklist') }}">一覧</a>

    <select name="select" onChange="location.href=value;">
        <option value="#">はじめに</option>
        <option value="{{ url_for('task.index', tag='日 初') }}">日初</option>
        <option value="{{ url_for('task.index', tag='週 初') }}">週初</option>
        <option value="{{ url_for('task.index', tag='月 初') }}">月初</option>
        <option value="{{ url_for('task.index', tag='年 初') }}">年初</option>
        <option value="{{ url_for('task.index', tag='日 末') }}">日末</option>
        <option value="{{ url_for('task.index', notag='') }}">未分類</option>
        <option value="{{ url_for('task.index', rate='0only') }}">未要度</option>
        <option value="{{ url_for('task.index', cost='0') }}">未見積</option>
        <option value="{{ url_for('task.index', cost='1', cycle='none', owner='-買', tag='-買' , rate='3over') }}">すぐやる</option>
    </select>

    <select name="select" onChange="location.href=value;">
        <option value="#">よく使う</option>
        <option value="{{ url_for('task.index', tag='日 -初 -末 -食 -寝 -猫 -ｱﾚ' ) }}">日</option>
        <option value="{{ url_for('task.index', tag='週 -初 -末') }}">週</option>
        <option value="{{ url_for('task.index', cycle='randomly') }}">不定期繰返</option>
        <option value="{{ url_for('task.index', tag='考 -日') }}">考</option>
        <option value="{{ url_for('task.index', tag='暮 -日') }}">暮 生活維持</option>
        <option value="{{ url_for('task.index', tag='環 -日') }}">環 環境改善</option>
        <option value="{{ url_for('task.index', tag='ｱﾚ') }}">ｱﾚ 開発</option>
        <option value="#">ーーーーー</option>
        <option value="{{ url_for('task.index', tag='食' ) }}">食</option>
        <option value="{{ url_for('task.index', tag='寝' ) }}">寝</option>
        <option value="{{ url_for('task.index', tag='猫' ) }}">猫</option>
        <option value="{{ url_for('task.index', tag='買') }}">買 買い物</option>
        <option value="{{ url_for('task.index', tag='台所') }}">台所</option>
        <option value="{{ url_for('task.index', tag='処理待箱') }}">処理待箱</option>
    </select>

    <a href="{{ url_for('task.集計') }}">集計</a>

    <br>

  {% if search['rate'] == "1only" -%}
    <a href="{{ url_for('task.index', change='rate', to='', **search) }}">★</a>
  {%- else -%}
    <a href="{{ url_for('task.index', change='rate', to='1only', **search) }}">
      {%- if not "only" in search['rate'] and search['rate'] | int >= 1 %}★{% else %}☆{% endif -%}
    </a>
  {%- endif -%}
  {%- if search['rate'] == "2only" -%}
    <a href="{{ url_for('task.index', change='rate', to='2', **search) }}">★</a>
  {%- elif search['rate'] == "2" -%}
    <a href="{{ url_for('task.index', change='rate', to='', **search) }}">★</a>
  {%- else -%}
    <a href="{{ url_for('task.index', change='rate', to='2only', **search) }}">
      {%- if not "only" in search['rate'] and search['rate'] | int >= 2 %}★{% else %}☆{% endif -%}
    </a>
  {%- endif -%}
  {%- if search['rate'] == "3only" -%}
    <a href="{{ url_for('task.index', change='rate', to='3', **search) }}">★</a>
  {%- elif search['rate'] == "3" -%}
    <a href="{{ url_for('task.index', change='rate', to='', **search) }}">★</a>
  {%- else -%}
    <a href="{{ url_for('task.index', change='rate', to='3only', **search) }}">
      {%- if not "only" in search['rate'] and search['rate'] | int >= 3 %}★{% else %}☆{% endif -%}
    </a>
  {%- endif -%}
  {%- if search['rate'] == "4only" -%}
    <a href="{{ url_for('task.index', change='rate', to='4', **search) }}">★</a>
  {%- elif search['rate'] == "4" -%}
    <a href="{{ url_for('task.index', change='rate', to='', **search) }}">★</a>
  {%- else -%}
    <a href="{{ url_for('task.index', change='rate', to='4only', **search) }}">
      {%- if not "only" in search['rate'] and search['rate'] | int >= 4 %}★{% else %}☆{% endif -%}
    </a>
  {%- endif -%}
  {%- if search['rate'] == "5only" -%}
    <a href="{{ url_for('task.index', change='rate', to='5', **search) }}">★</a>
  {%- elif search['rate'] == "5" -%}
    <a href="{{ url_for('task.index', change='rate', to='', **search) }}">★</a>
  {%- else -%}
    <a href="{{ url_for('task.index', change='rate', to='5only', **search) }}">
      {%- if not "only" in search['rate'] and search['rate'] | int >= 5 %}★{% else %}☆{% endif -%}
    </a>
  {%- endif %}

  {%- if search['cost'] %}
    <a href="{{ url_for('task.index', change='cost', to='', **search) }}">{{ search['cost'] }}p</a>
  {%- endif %}
  {%- if search['owner'] %}
    <a href="{{ url_for('task.index', change='owner', to='', **search) }}">{{ search['owner'] }}</a>
  {%- endif %}
  {%- if search['tag1st'] %}
    <a href="{{ url_for('task.index', change='tag1st', to='', **search) }}">{{ search['tag1st'] }}</a>
  {%- endif %}
  {%- if search['tag'] -%}
    {%- set tagall=search['tag'].split() -%}
    {%- for tag in tagall %}
      {%- if tag[0] != '-' -%}{%- set vtag=tag -%}{%- else -%}{%- set vtag=tag[1:] -%}{%- endif %}
      <select name="select" onChange="location.href=value;">
          <option value="#">{{ tag }}</option>
          {%- if tag[0] != '-' -%}
          <option value="{{ url_for('task.index', hidetag=vtag, **search) }}">除外</option>
          {%- else -%}
          <option value="{{ url_for('task.index', showtag=vtag, **search) }}">表示</option>
          {%- endif %}
          <option value="{{ url_for('task.index', deltag=tag, **search) }}">解除</option>
      </select>
    {%- endfor %}
  {%- endif %}
  {%- if search['title'] %}
    <a href="{{ url_for('task.index', change='title', to='', **search) }}">{{ search['title'] }}</a>
  {%- endif %}
</nav>

<form method="post" action="{{ url_for('task.create') }}">
    <input name="title" id="title" style="width:100%;" value="{{ request.form['title'] }}" required>
    <input id="btn" class="submitbutton" type="submit" value="Save">
    <a href="{{ url_for('task.create', owner=search['owner'], tag=search['tag']) }}">New</a>

    <input type="hidden" name="owner" id="owner" value="{{ search['owner'] }}">
    <input type="hidden" name="tag" id="tag" value="{{ search['tag'] }}">
    <input type="hidden" name="rate" id="rate" value="{{ search['rate'] }}">
    <input type="hidden" name="body" id="body" value="">
    <input type="hidden" name="site" id="site" value="">
    <input type="hidden" name="cost" id="cost" value="{{ search['cost'] }}">
    <input type="hidden" name="sort" id="sort" value="{{ search['sort'] }}">

    <script type="text/javascript">
        var textbox = document.getElementById('title');
        var submitButton = document.getElementById('btn');
        textbox.addEventListener('keydown',
                        function (e) {
                            key = e.which;
                            if (sbmit === false && (e.metaKey || e.ctrlKey) && e.which == 13) {
                                submitButton.click();
                            }
                        },
                        false
                        );
    </script>
</form>

<article>
  {% for key, value in tasks.items() %}
    <section>
        <h1><a href="{{ url_for('task.index', change='status', to=key , **search) }}">{{ key }}</a></h1>
      {% for task in value %}
        <div style="4px 0px 0px 0px;padding:4px 0px 0px 0px;">
          <div style="border-style: solid none none solid; border-width: 1px; margin:0px 4px 0px 0px">
            &thinsp;
          {% if task['状態'] == '完' %}
            <a href="{{ url_for('task.restore', number=task['連番'], **search) }}">☑</a>
            <a href="{{ url_for('task.next', number=task['連番'], **search) }}">▷</a>
          {% elif task['状態'] == '未' %}
            <a href="{{ url_for('task.done', number=task['連番'], **search) }}">☐</a>
            <a href="{{ url_for('task.next', number=task['連番'], **search) }}">▷</a>
            <a href="{{ url_for('task.later', number=task['連番'], **search) }}">⤵</a>
              {% elif task['状態'] == '次' %}
            <a href="{{ url_for('task.done', number=task['連番'], **search) }}">☐</a>
            <a href="{{ url_for('task.doing', number=task['連番'], **search) }}">▷</a>
            <a href="{{ url_for('task.restore', number=task['連番'], **search) }}">↩</a>
          {% elif task['状態'] == '後' %}
            <a href="{{ url_for('task.done', number=task['連番'], **search) }}">☐</a>
            <a href="{{ url_for('task.next', number=task['連番'], **search) }}">▷</a>
            <a href="{{ url_for('task.restore', number=task['連番'], **search) }}">↩</a>
          {% elif '！' in task['状態'] %}
            <a href="{{ url_for('task.done', number=task['連番'], **search) }}">☐</a>
            <a href="{{ url_for('task.doing', number=task['連番'], **search) }}">▷</a>
            <a href="{{ url_for('task.next', number=task['連番'], **search) }}">↩</a>
            <span style="font-size  : 0.5em;">{{ task['変更日時'] | jptime}}</span>
          {% else %}
            <a href="{{ url_for('task.restore', number=task['連番'], **search) }}">↩</a>
            <span style="font-size  : 0.5em;">{{ task['変更日時'] | jptime}}</span>
          {% endif %}

          {% if task['完了日時'] %}
            <span style="font-size  : 0.5em;">{{ task['utcP9time']}}</span>
            予{{ task['コスト'] }}
            <a href="{{ url_for('task.costup', number=task['連番'], **search) }}">実{{ task['実コスト'] }}</a>
          {% else %}
            {% if task['重要度'] == 1 -%}
              <a href="{{ url_for('task.rateto', number=task['連番'], change=0, **search) }}">★</a>
            {%- else -%}
              <a href="{{ url_for('task.rateto', number=task['連番'], change=1, **search) }}">
              {%- if task['重要度'] > 0 %}★{% else %}☆{% endif -%}
              </a>
            {%- endif -%}
              <a href="{{ url_for('task.rateto', number=task['連番'], change=2, **search) }}">
                {%- if task['重要度'] > 1 %}★{% else %}☆{% endif -%}
              </a><a href="{{ url_for('task.rateto', number=task['連番'], change=3, **search) }}">
                {%- if task['重要度'] > 2%}★{% else %}☆{% endif -%}
              </a><a href="{{ url_for('task.rateto', number=task['連番'], change=4, **search) }}">
                {%- if task['重要度'] > 3 %}★{% else %}☆{% endif -%}
              </a><a href="{{ url_for('task.rateto', number=task['連番'], change=5, **search) }}">
                {%- if task['重要度'] > 4 %}★{% else %}☆{% endif -%}
              </a>
              <a href="{{ url_for('task.costup', number=task['連番'], **search) }}">{{ task['コスト'] }}</a>
          {%- endif %}
            :
            {% if task['備考'] %} ※ {% endif %}
          {% for tag in tags[task['連番']] %}
            <a href="{{ url_for('task.index', addtag=tag, **search) }}" >{{ tag }}</a>
          {% endfor %}
          </div>
          <div style="margin : 1px; ">
            {% if tags[task['連番']][0] and search['tag1st'] == '' %}
              <a href="{{ url_for('task.index', change='tag1st',to=tags[task['連番']][0] , **search) }}" >{{ tags[task['連番']][0] }}</a>
            {%- endif %}
            {{ task['タスク名'] }}
            <a style="font-size  : 0.8em;" href="{{ url_for('task.update', number=task['連番'], **search) }}">📝</a>
          </div>
        </div>
      {% endfor %}
    </section>
  {% endfor %}
</article>


<footer>
    <form action="{{ url_for('task.index',site=site) }}" method="GET">
        <input id="search" class="text" type="text" value="{{ search['title'] }}" name="title">
        <input class="submitbutton" type="submit" value="検索">
    </form>
  {% if g.user %}
    <span>{{ g.user['username'] }}</span>
    <a href="{{ url_for('auth.logout') }}">Log Out</a>
  {% else %}
    <a href="{{ url_for('auth.register') }}">Register</a>
    <a href="{{ url_for('auth.login') }}">Log In</a>
  {% endif %}
</footer>

</body>
</html>