<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{{type}}一覧</title>
    <style type="text/css">
        * {
            font-size: 1em;
        }

        p {
            margin: 5px;
        }
    </style>
</head>

<body>

    <h1><a href="{{ url_for('task.index') }}">タスク</a> {{type}}一覧</h1>

    <nav>
        <a href="{{ url_for('task.linklist') }}">絞り込み</a>
        <a href="{{ url_for('task.tag1stlist') }}">第一タグ</a>
        <a href="{{ url_for('task.taglist') }}">タグ</a>
        <a href="{{ url_for('task.ratelist') }}">重要度</a>
        <a href="{{ url_for('task.pointlist') }}">ポイント</a>
        <a href="{{ url_for('task.cyclelist') }}">サイクル</a>
        <a href="{{ url_for('task.statuslist') }}">状態</a>
        <a href="{{ url_for('task.sitelist') }}">サイト</a>
        <a href="{{ url_for('task.ownerlist') }}">所有者</a>
    </nav>

    <ul>
      {%- for item in list %}
        <li>
          {%- if type == '第一タグ' -%}
            {%- if item['タグ'] == '' -%}
              <a href="{{ url_for('task.index', notag='') }}">(タグなし)</a> : {{item["件数"]}}
            {%- else -%}
              <a href="{{ url_for('task.index', tag1st=item['タグ']) }}">{{ item['タグ'] }}</a> : {{item["件数"]}}
            {%- endif -%}
          {%- elif type == 'タグ' -%}
            {%- if item['タグ'] == '' -%}
              <a href="{{ url_for('task.index', notag='') }}">(タグなし)</a> : {{item["件数"]}}
            {%- else -%}
              <a href="{{ url_for('task.index', tag=item['タグ']) }}">{{ item['タグ'] }}</a> : {{item["件数"]}}
            {%- endif -%}
          {%- elif type == '所有者' -%}
            <a href="{{ url_for('task.index', owner=item['所有者']) }}">{{ item['所有者'] }}</a> : {{item["件数"]}}
          {%- elif type == '重要度' -%}
            <a href="{{ url_for('task.index', rate=item['重要度']) }}">{{ item['星'] }}</a> : {{item["件数"]}}
            (完{{item["完了件数"]}} 未{{item["未完了件数"]}} ！{{item["処理中件数"]}}  保留{{item["保留件数"]}} {{ item["実績値"] }}/{{ item["予測値"] }}p)
          {%- elif type == 'ポイント' -%}
            <a href="{{ url_for('task.index', cost=item['予測値']) }}">{{ item['予測値'] }}</a> : {{item["件数"]}}
            (完{{item["完了件数"]}} 未{{item["未完了件数"]}} ！{{item["処理中件数"]}}  保留{{item["保留件数"]}})
          {%- elif type == 'サイクル' -%}
            <a href="{{ url_for('task.index', cycle=item['cycle']) }}">{{ item['name'] }}</a> : {{item["件数"]}}
            (完{{item["完了件数"]}} 未{{item["未完了件数"]}} ！{{item["処理中件数"]}}  保留{{item["保留件数"]}} {{ item["実績値"] }}/{{ item["予測値"] }}p)
          {%- elif type == '状態' -%}
            <a href="{{ url_for('task.index', status=item['状態']) }}">{{ item['状態'] }}</a> : {{item["件数"]}} ({%- if item['実績値'] != 0 -%}{{ item["実績値"] }}/{%- endif -%}{{ item["予測値"] }}p)
          {%- elif type == 'サイト' -%}
            <a href="{{ url_for('task.index', site=item['サイト']) }}">{% if item['サイト'] %}{{ item['サイト'] }}{% else %}(なし){% endif %}</a> : {{item["件数"]}} ({%- if item['実績値'] != 0 -%}{{ item["実績値"] }}/{%- endif -%}{{ item["予測値"] }}p)
          {%- else -%}
            {{ item[0] }} : {{ item[1] }} ({{ item[2] }}/{{ item[3] }})
          {%- endif -%}
        {% endfor %}
    </ul>

<footer>
    <form action="{{ url_for('task.index',site=site) }}" method="GET">
        <input id="search" class="text" type="text" value="" name="title">
        <input class="submitbutton" type="submit" value="検索">
    </form>
    <a href="{{ url_for('task.集計') }}">集計</a>
    <br>
  {% if g.user %}
    <span>{{ g.user['username'] }}</span>
    <a href="{{ url_for('auth.logout') }}">Log Out</a>
  {% else %}
    <a href="{{ url_for('auth.register') }}">Register</a>
    <a href="{{ url_for('auth.login') }}">Log In</a>
  {% endif %}
</footer>

</body>

</html>