<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{{type}}一覧</title>
    <style type="text/css">
        * {
            font-size: 1em;
        }

        p {
            margin: 5px;
        }
    </style>
</head>

<body>

    <h1><a href="{{ url_for('task.index') }}">タスク</a> {{type}}一覧</h1>

    <nav>
        <a href="{{ url_for('task.tag1stlist') }}">第一タグ</a>
        <a href="{{ url_for('task.ratelist') }}">重要度</a>
        <a href="{{ url_for('task.costlist') }}">コスト</a>
        <a href="{{ url_for('task.cyclelist') }}">サイクル</a>
        <a href="{{ url_for('task.ownerlist') }}">所有者</a>
        タグ
    </nav>

    <ul>
      {%- for item in list %}
        <li>
          {%- if type == '第一タグ' -%}
            {%- if item['タグ'] == '' -%}
              <a href="{{ url_for('task.index', notag='') }}">(タグなし)</a> : {{item["件数"]}}
            {%- else -%}
              <a href="{{ url_for('task.index', tag1st=item['タグ']) }}">{{ item['タグ'] }}</a> : {{item["件数"]}}
            {%- endif -%}
          {%- elif type == '所有者' -%}
            <a href="{{ url_for('task.index', owner=item['所有者']) }}">{{ item['所有者'] }}</a> : {{item["件数"]}}
          {%- elif type == '重要度' -%}
            <a href="{{ url_for('task.index', rate=item['重要度']) }}">{{ item['星'] }}</a> : {{item["件数"]}}
            (完{{item["完了件数"]}} 未{{item["未完了件数"]}} ！{{item["処理中件数"]}}  保留{{item["保留件数"]}} コスト{{ item["実コスト"] }}/{{ item["コスト"] }})
          {%- elif type == 'コスト' -%}
            <a href="{{ url_for('task.index', cost=item['コスト']) }}">{{ item['コスト'] }}</a> : {{item["件数"]}}
            (完{{item["完了件数"]}} 未{{item["未完了件数"]}} ！{{item["処理中件数"]}}  保留{{item["保留件数"]}})
          {%- elif type == 'サイクル' -%}
            <a href="{{ url_for('task.index', cycle=item['cycle']) }}">{{ item['name'] }}</a> : {{item["件数"]}}
            (完{{item["完了件数"]}} 未{{item["未完了件数"]}} ！{{item["処理中件数"]}}  保留{{item["保留件数"]}} コスト{{ item["実コスト"] }}/{{ item["コスト"] }})
          {%- else -%}
            {{ item[0] }} : {{ item[1] }}
          {%- endif -%}
        {% endfor %}
    </ul>

<footer>
    <form action="{{ url_for('task.index',site=site) }}" method="GET">
        <input id="search" class="text" type="text" value="" name="title">
        <input class="submitbutton" type="submit" value="検索">
    </form>
    <a href="{{ url_for('task.コスト集計') }}">コスト集計</a>
    <br>
  {% if g.user %}
    <span>{{ g.user['username'] }}</span>
    <a href="{{ url_for('auth.logout') }}">Log Out</a>
  {% else %}
    <a href="{{ url_for('auth.register') }}">Register</a>
    <a href="{{ url_for('auth.login') }}">Log In</a>
  {% endif %}
</footer>

</body>

</html>