<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>集計</title>
</head>
<body>

<h1><a href="{{ url_for('task.index') }}">タスク</a>集計</h1>

<pre>{{summary}}</pre>

<article>
  {% for key, value in tasks.items() %}
    <section>
        <br>
        <h1>{{ key }}</h1>
      {% for task in value %}
        {% if task['完了日時'] %}
        <div>
          {% if task['状態'] == '完' %}
            <a href="{{ url_for('task.restore', number=task['番号'], **search) }}">☑</a>
          {% elif task['状態'] == '未' %}
            <a href="{{ url_for('task.done', number=task['番号'], **search) }}">☐</a>
            <a href="{{ url_for('task.doing', number=task['番号'], **search) }}">▷</a>
          {% elif task['状態'] == '！' %}
            <a href="{{ url_for('task.done', number=task['番号'], **search) }}">☐</a>
            <a href="{{ url_for('task.doing', number=task['番号'], **search) }}">▷</a>
            <span style="font-size  : 0.5em;">{{ task['変更日時'] | jptime}}</span>
          {% else %}
            <span style="font-size  : 0.5em;">{{ task['変更日時'] | jptime}}</span>
          {% endif %}

          {% if task['完了日時'] %}
            <span style="font-size  : 0.5em;"><a href="{{ url_for('task.update', number=task['番号'], **search) }}">{{ task['utcP9time'][11:] }}</a></span>
            [<a href="{{ url_for('task.costup', number=task['番号'], **search) }}">{{ task['実績値'] }}</a>/{{ task['予測値'] }}]
          {% else %}
            {% if task['重要度'] == 1 -%}
              <a href="{{ url_for('task.rateto', number=task['番号'], change=0, **search) }}">★</a>
            {%- else -%}
              <a href="{{ url_for('task.rateto', number=task['番号'], change=1, **search) }}">
              {%- if task['重要度'] > 0 %}★{% else %}☆{% endif -%}
              </a>
            {%- endif -%}
              <a href="{{ url_for('task.rateto', number=task['番号'], change=2, **search) }}">
                {%- if task['重要度'] > 1 %}★{% else %}☆{% endif -%}
              </a><a href="{{ url_for('task.rateto', number=task['番号'], change=3, **search) }}">
                {%- if task['重要度'] > 2%}★{% else %}☆{% endif -%}
              </a><a href="{{ url_for('task.rateto', number=task['番号'], change=4, **search) }}">
                {%- if task['重要度'] > 3 %}★{% else %}☆{% endif -%}
              </a><a href="{{ url_for('task.rateto', number=task['番号'], change=5, **search) }}">
                {%- if task['重要度'] > 4 %}★{% else %}☆{% endif -%}
              </a>
              <a href="{{ url_for('task.costup', number=task['番号'], **search) }}">{{ task['予測値'] }}</a>
          {%- endif %}
            {{ task['タスク名'] }}
          {% for tag in tags[task['番号']] %}
            <a href="{{ url_for('task.index', change='tag', to=tag, **search) }}" style="font-size  : 0.6em">{{ tag }}</a>
          {% endfor %}

          {% if task['状態'] == '！' %}
            <a href="{{ url_for('task.restore', number=task['番号'], **search) }}">↩</a>
          {% endif %}

        </div>
        {% endif %}
      {% endfor %}
    </section>
  {% endfor %}
</article>

<p>
    <br>
    <a href="{{ url_for('task.index', cycle='none', status='完') }}">単発</a>
    <a href="{{ url_for('task.index', cycle='routine', status='完') }}">定期</a>
    <a href="{{ url_for('task.index', cycle='randomly', status='完') }}">不定</a>
</p>

<hr>

<select name="select" onChange="location.href=value;">
    <option value="">完了タスクを未処理に戻す</option>
    <option value="{{ url_for('task.restore4tag', tag='日') }}">日</option>
    <option value="{{ url_for('task.restore4tag', tag='週') }}">週</option>
    <option value="{{ url_for('task.restore4tag', tag='月') }}">月</option>
    <option value="{{ url_for('task.restore4tag', tag='春') }}">春</option>
    <option value="{{ url_for('task.restore4tag', tag='夏') }}">夏</option>
    <option value="{{ url_for('task.restore4tag', tag='秋') }}">秋</option>
    <option value="{{ url_for('task.restore4tag', tag='冬') }}">冬</option>
    <option value="{{ url_for('task.restore4tag', tag='年') }}">年</option>
</select>

<select name="select" onChange="location.href=value;">
    <option value="">曜日</option>
    <option value="{{ url_for('task.restore4tag', tag='日曜日') }}">日曜日</option>
    <option value="{{ url_for('task.restore4tag', tag='月曜日') }}">月曜日</option>
    <option value="{{ url_for('task.restore4tag', tag='火曜日') }}">火曜日</option>
    <option value="{{ url_for('task.restore4tag', tag='水曜日') }}">水曜日</option>
    <option value="{{ url_for('task.restore4tag', tag='木曜日') }}">木曜日</option>
    <option value="{{ url_for('task.restore4tag', tag='金曜日') }}">金曜日</option>
    <option value="{{ url_for('task.restore4tag', tag='土曜日') }}">土曜日</option>
</select>

<select name="select" onChange="location.href=value;">
    <option value="">月</option>
    <option value="{{ url_for('task.restore4tag', tag='1月') }}">1月</option>
    <option value="{{ url_for('task.restore4tag', tag='2月') }}">2月</option>
    <option value="{{ url_for('task.restore4tag', tag='3月') }}">3月</option>
    <option value="{{ url_for('task.restore4tag', tag='4月') }}">4月</option>
    <option value="{{ url_for('task.restore4tag', tag='5月') }}">5月</option>
    <option value="{{ url_for('task.restore4tag', tag='6月') }}">6月</option>
    <option value="{{ url_for('task.restore4tag', tag='7月') }}">7月</option>
    <option value="{{ url_for('task.restore4tag', tag='8月') }}">8月</option>
    <option value="{{ url_for('task.restore4tag', tag='9月') }}">9月</option>
    <option value="{{ url_for('task.restore4tag', tag='10月') }}">10月</option>
    <option value="{{ url_for('task.restore4tag', tag='11月') }}">11月</option>
    <option value="{{ url_for('task.restore4tag', tag='12月') }}">12月</option>
</select>
<br>
<select name="select" onChange="location.href=value;">
    <option value="">後でやるタスクを未処理に戻す</option>
    <option value="{{ url_for('task.restore4tag', tag='日', status='後') }}">日</option>
    <option value="{{ url_for('task.restore4tag', tag='週', status='後') }}">週</option>
    <option value="{{ url_for('task.restore4tag', tag='月', status='後') }}">月</option>
    <option value="{{ url_for('task.restore4tag', tag='春', status='後') }}">春</option>
    <option value="{{ url_for('task.restore4tag', tag='夏', status='後') }}">夏</option>
    <option value="{{ url_for('task.restore4tag', tag='秋', status='後') }}">秋</option>
    <option value="{{ url_for('task.restore4tag', tag='冬', status='後') }}">冬</option>
    <option value="{{ url_for('task.restore4tag', tag='年', status='後') }}">年</option>
</select>
<br>

<select name="select" onChange="location.href=value;">
    <option value="">完了日時消去</option>
    <option value="{{ url_for('task.完了日時消去', option='昨日以前') }}">昨日以前</option>
    <option value="{{ url_for('task.完了日時消去') }}">すべて</option>
</select>

<hr>

<footer>

    <nav>
        <a href="{{ url_for('task.tag1stlist') }}">第一タグ</a>
        <a href="{{ url_for('task.ratelist') }}">重要度</a>
        <a href="{{ url_for('task.pointlist') }}">ポイント</a>
        <a href="{{ url_for('task.ownerlist') }}">所有者</a>
        タグ
    </nav>

    <form action="{{ url_for('task.index',site=site) }}" method="GET">
        <input id="search" class="text" type="text" value="" name="title">
        <input class="submitbutton" type="submit" value="検索">
    </form>
    <a href="{{ url_for('task.集計') }}">集計</a>
    <br>
  {% if g.user %}
    <span>{{ g.user['username'] }}</span>
    <a href="{{ url_for('auth.logout') }}">Log Out</a>
  {% else %}
    <a href="{{ url_for('auth.register') }}">Register</a>
    <a href="{{ url_for('auth.login') }}">Log In</a>
  {% endif %}
</footer>

</body>
</html>