<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>集計</title>
</head>
<body>

<h1><a href="{{ url_for('task.index') }}">タスク</a> 集計</h1>

<pre>
    {{summary}}
</pre>

<article>
  {% for key, value in tasks.items() %}
    <section>
        <h1>{{ key }}</h1>
      {% for task in value %}
        <div>
          {% if task['状態'] == '完' %}
            <a href="{{ url_for('task.restore', number=task['連番'], **search) }}">☑</a>
          {% elif task['状態'] == '未' %}
            <a href="{{ url_for('task.done', number=task['連番'], **search) }}">☐</a>
            <a href="{{ url_for('task.doing', number=task['連番'], **search) }}">▷</a>
          {% elif task['状態'] == '！' %}
            <a href="{{ url_for('task.done', number=task['連番'], **search) }}">☐</a>
            <a href="{{ url_for('task.doing', number=task['連番'], **search) }}">▷</a>
            <span style="font-size  : 0.5em;">{{ task['変更日時'] | jptime}}</span>
          {% else %}
            <span style="font-size  : 0.5em;">{{ task['変更日時'] | jptime}}</span>
          {% endif %}

          {% if task['完了日時'] %}
            <span style="font-size  : 0.5em;">{{ task['utcP9time']}}</span>
            予{{ task['コスト'] }}
            <a href="{{ url_for('task.costup', number=task['連番'], **search) }}">実{{ task['実コスト'] }}</a>
          {% else %}
            {% if task['重要度'] == 1 -%}
              <a href="{{ url_for('task.rateto', number=task['連番'], change=0, **search) }}">★</a>
            {%- else -%}
              <a href="{{ url_for('task.rateto', number=task['連番'], change=1, **search) }}">
              {%- if task['重要度'] > 0 %}★{% else %}☆{% endif -%}
              </a>
            {%- endif -%}
              <a href="{{ url_for('task.rateto', number=task['連番'], change=2, **search) }}">
                {%- if task['重要度'] > 1 %}★{% else %}☆{% endif -%}
              </a><a href="{{ url_for('task.rateto', number=task['連番'], change=3, **search) }}">
                {%- if task['重要度'] > 2%}★{% else %}☆{% endif -%}
              </a><a href="{{ url_for('task.rateto', number=task['連番'], change=4, **search) }}">
                {%- if task['重要度'] > 3 %}★{% else %}☆{% endif -%}
              </a><a href="{{ url_for('task.rateto', number=task['連番'], change=5, **search) }}">
                {%- if task['重要度'] > 4 %}★{% else %}☆{% endif -%}
              </a>
              <a href="{{ url_for('task.costup', number=task['連番'], **search) }}">{{ task['コスト'] }}</a>
          {%- endif %}
            :
            <a href="{{ url_for('task.index', change='owner', to=task['所有者'], **search) }}">{{ task['所有者'] }}</a>
            {{ task['タスク名'] }}{% if task['備考'] %} ※ {% endif %}
          {% for tag in tags[task['連番']] %}
            <a href="{{ url_for('task.index', change='tag', to=tag, **search) }}" style="font-size  : 0.6em">{{ tag }}</a>
          {% endfor %}

          {% if task['状態'] == '！' %}
            <a href="{{ url_for('task.restore', number=task['連番'], **search) }}">↩</a>
          {% endif %}

        </div>
      {% endfor %}
    </section>
  {% endfor %}
</article>

<p>
    <a href="{{ url_for('task.index', cycle='none', status='完') }}">単発</a>
    <a href="{{ url_for('task.index', cycle='routine', status='完') }}">定期</a>
    <a href="{{ url_for('task.index', cycle='randomly', status='完') }}">不定</a>
</p>

<hr>

<select name="select" onChange="location.href=value;">
    <option value="">完了タスクを未処理に戻す</option>
    <option value="{{ url_for('task.restore4tag', tag='日') }}">日</option>
    <option value="{{ url_for('task.restore4tag', tag='週') }}">週</option>
    <option value="{{ url_for('task.restore4tag', tag='月') }}">月</option>
    <option value="{{ url_for('task.restore4tag', tag='年') }}">年</option>
    <option value="{{ url_for('task.完了日時消去', option='昨日以前') }}">完了日時消去 昨日以前</option>
    <option value="{{ url_for('task.完了日時消去') }}">完了日時消去</option>
</select>

<hr>

<footer>

    <nav>
        <a href="{{ url_for('task.tag1stlist') }}">第一タグ</a>
        <a href="{{ url_for('task.ratelist') }}">重要度</a>
        <a href="{{ url_for('task.costlist') }}">コスト</a>
        <a href="{{ url_for('task.ownerlist') }}">所有者</a>
        タグ
    </nav>

    <form action="{{ url_for('task.index',site=site) }}" method="GET">
        <input id="search" class="text" type="text" value="" name="title">
        <input class="submitbutton" type="submit" value="検索">
    </form>
    <a href="{{ url_for('task.コスト集計') }}">コスト集計</a>
    <br>
  {% if g.user %}
    <span>{{ g.user['username'] }}</span>
    <a href="{{ url_for('auth.logout') }}">Log Out</a>
  {% else %}
    <a href="{{ url_for('auth.register') }}">Register</a>
    <a href="{{ url_for('auth.login') }}">Log In</a>
  {% endif %}
</footer>

</body>
</html>