<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>更新</title>
    <style type="text/css">
        form {
            margin: 1em 0;
            display: flex;
            flex-direction: column;
        }

        label {
            font-weight: bold;
            margin-bottom: 0.5em;
        }

        input,
        textarea,
        select {
            margin-bottom: 1em;
        }

        textarea {
            min-height: 12em;
            resize: vertical;
        }
    </style>
</head>

<body>

    <h1>タスク更新</h1>

  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}

    <form method="post">
        追加:{{task['追加日時'] | jptime}} |
        変更:{{task['変更日時'] | jptime}} |
        完了:{{task['完了日時'] | jptime}}

        <label for="status">状態</label>
        <input name="status" id="status" value="{{ request.form['status'] or task['状態'] }}" required>

        <label for="title">タスク名</label>
        <input name="title" id="title" value="{{ request.form['title'] or task['タスク名']}}" required>

        <label for="rate">重要度</label>
        <select name="rate" id="rate">
            <option value="0" {% if task["重要度"] == 0 -%} selected="selected" {%- endif %}>☆☆☆☆☆</option>
            <option value="5" {% if task["重要度"] == 5 -%} selected="selected" {%- endif %}>★★★★★</option>
            <option value="4" {% if task["重要度"] == 4 -%} selected="selected" {%- endif %}>★★★★☆</option>
            <option value="3" {% if task["重要度"] == 3 -%} selected="selected" {%- endif %}>★★★☆☆</option>
            <option value="2" {% if task["重要度"] == 2 -%} selected="selected" {%- endif %}>★★☆☆☆</option>
            <option value="1" {% if task["重要度"] == 1 -%} selected="selected" {%- endif %}>★☆☆☆☆</option>
        </select>

        <label for="cost">コスト</label>
        <select name="cost" id="cost">
          {% for aa in fi %}
            <option value="{{aa}}" {% if aa == task["コスト"] -%} selected="selected" {%- endif %}>{{aa}}</option>
          {% endfor %}
        </select>

        <label for="actual">実コスト</label>
        <select name="actual" id="actual">
          {% for aa in fi %}
            <option value="{{aa}}" {% if aa == task["実コスト"] %} selected="selected" {% endif %}>{{aa}}</option>
          {% endfor %}
        </select>

        <label for="tag">タグ</label>
        <input name="tag" id="tag" value="{{ request.form['tag'] or task['タグ'].strip()}}">

        <label for="body">備考</label>
        <textarea name="body" id="body">{{ request.form['body'] or task['備考'] }}</textarea>

        <label for="site">サイト</label>
        <input name="site" id="site" value="{{ request.form['site'] or task['サイト'] }}">

        <label for="owner">所有者</label>
        <input name="owner" id="owner" value="{{ request.form['owner'] or task['所有者'] }}">

        <input type="submit" value="Save">
    </form>
    <hr>
    <form action="{{ url_for('task.delete', number=task['連番']) }}" method="post">
        <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
    </form>

</body>

</html>