<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>新規タスク</title>
    <style type="text/css">
        form {
            margin: 1em 0;
            display: flex;
            flex-direction: column;
        }

        label {
            font-weight: bold;
            margin-bottom: 0.5em;
        }

        input,
        textarea,
        select {
            margin-bottom: 1em;
        }

        textarea {
            min-height: 12em;
            resize: vertical;
        }
    </style>
</head>

<body>

    <h1>新規タスク</h1>

  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}

    <form method="post">
        <label for="title">タスク名</label>
        <input name="title" id="title" value="{{ request.form['title'] }}" required>
        <label for="rate">重要度</label>
        <select name="rate" id="rate">
            <option value="0">☆☆☆☆☆</option>
            <option value="5">★★★★★</option>
            <option value="4">★★★★☆</option>
            <option value="3">★★★☆☆</option>
            <option value="2">★★☆☆☆</option>
            <option value="1">★☆☆☆☆</option>
        </select>
        <label for="cost">ポイント</label>
        <select name="cost" id="cost">
            <option value="0">&nbsp;0</option>
            <option value="1">&nbsp;1　&nbsp;&nbsp;数分　睡眠15分</option>
            <option value="2">&nbsp;2　&nbsp;&nbsp;10分　睡眠30分</option>
            <option value="3">&nbsp;3　&nbsp;&nbsp;30分　睡眠1時間</option>
            <option value="5">&nbsp;5　&nbsp;1時間　睡眠2時間</option>
            <option value="8">&nbsp;8　&nbsp;2時間　睡眠3時間</option>
            <option value="13">13　&nbsp;4時間　睡眠4時間</option>
            <option value="21">21　&nbsp;8時間　睡眠5時間</option>
            <option value="34">34　16時間　睡眠6時間</option>
            <option value="55">55　数日　睡眠7時間</option>
            <option value="89">89　週？　睡眠8時間</option>
        </select>
        <label for="tag">タグ</label>
        <input name="tag" id="tag" value="{{ request.form['tag'] or default['tag'] }}">
        <label for="body">備考</label>
        <textarea name="body" id="body">{{ request.form['body'] }}</textarea>
        <label for="site">サイト</label>
        <input name="site" id="site" value="{{ request.form['site'] or default['site'] }}">
        <label for="owner">所有者</label>
        <input name="owner" id="owner" value="{{ request.form['owner'] or default['owner'] }}">

        <input type="hidden" name="ret" id="ret" value="off">
        <input type="submit" value="Save">
   </form>

</body>

</html>