<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>絞り込み一覧</title>
    <style type="text/css">
        * {
            font-size: 1em;
        }

        p {
            margin: 5px;
        }
        h2 {
            margin: 10px 0px 0px 0px;
        }
    </style>
</head>

<body>

<h1><a href="{{ url_for('task.index') }}">タスク</a> 絞り込み一覧</h1>

<nav>
    絞り込み
    <a href="{{ url_for('task.tag1stlist') }}">第一タグ</a>
    <a href="{{ url_for('task.taglist') }}">タグ</a>
    <a href="{{ url_for('task.ratelist') }}">重要度</a>
    <a href="{{ url_for('task.pointlist') }}">ポイント</a>
    <a href="{{ url_for('task.cyclelist') }}">サイクル</a>
    <a href="{{ url_for('task.statuslist') }}">状態</a>
    <a href="{{ url_for('task.sitelist') }}">サイト</a>
    <a href="{{ url_for('task.ownerlist') }}">所有者</a>
</nav>

<article>
    <section>
        <h2>はじめに</h2>
        <p>
					  <a href="{{ url_for('task.index', tag='※') }}">※</a>
            <a href="{{ url_for('task.index', tag='日 初', sort='zenkai') }}">日初</a>
            <a href="{{ url_for('task.index', status='近', sort='zenkai') }}">近</a>
						<a href="{{ url_for('task.index', tag='日 締', sort='zenkai') }}">日締</a>
            <a href="{{ url_for('task.index', tag='週 初') }}">週初</a>
            <a href="{{ url_for('task.index', tag='月 初') }}">月初</a>
            <a href="{{ url_for('task.index', tag='年 初') }}">年初</a>
            <a href="{{ url_for('task.index', tag='初') }}">初</a>
            <a href="{{ url_for('task.index', cycle='routine', tag='-日 -週 -月 -年') }}">他定期</a>
            <a href="{{ url_for('task.index', status='-後', cost='1', cycle='none', tag='-買' , rate='3over') }}">すぐやる</a>
            <a href="{{ url_for('task.index', tag='朝') }}">朝</a>
            <a href="{{ url_for('task.index', tag='昼') }}">昼</a>
            <a href="{{ url_for('task.index', tag='夕') }}">夕</a>
            <a href="{{ url_for('task.index', tag='夜') }}">夜</a>
            <a href="{{ url_for('task.index', tag='末') }}">末</a>
        </p>
        <p>
            <a href="{{ url_for('task.index', rate='3over', cycle='none', tag='-買 -コンテンツ') }}">単発★３以上</a>
            <a href="{{ url_for('task.index', tag='考 -日') }}">考</a>
            <a href="{{ url_for('task.index', tag='暮 -日') }}">暮(生活維持)</a>
            <a href="{{ url_for('task.index', tag='環 -日') }}">環(環境改善)</a>
            <a href="{{ url_for('task.index', tag='ｱﾚ') }}">ｱﾚ(開発)</a>
            <a href="{{ url_for('task.index', tag='調') }}">調</a>
            <a href="{{ url_for('task.index', tag='読') }}">読(学習)</a>
        </p>
    </section>
    <section>
        <h2>分類 未処理</h2>
        <p>
            <a href="{{ url_for('task.index', notag='') }}">未分類</a>
            <a href="{{ url_for('task.index', rate='0') }}">未要度</a>
            <a href="{{ url_for('task.index', cost='0') }}">未見積</a>
            <a href="{{ url_for('task.index', status='未', cycle='none') }}">単発未分類</a>
        </p>
        <p>
            <a href="{{ url_for('task.index', tag='処理箱') }}">処理箱</a>
            <a href="{{ url_for('task.index', tag='検討') }}">検討</a>
        </p>
    </section>
    <section>
        <h2>よく使う</h2>
        <p>
            <a href="{{ url_for('task.index', tag='日 -締 -食 -寝 -猫 -ｱﾚ' ) }}">日</a>
            <a href="{{ url_for('task.index', cycle='routine', tag='-日') }}">定期日以外</a>
            <a href="{{ url_for('task.index', cycle='randomly', tag='-買') }}">不定期繰返</a>
        </p>
        <p>
            <a href="{{ url_for('task.index', tag='就寝前' ) }}">就寝前</a>
            <a href="{{ url_for('task.index', tag='起床後' ) }}">起床後</a>
            <a href="{{ url_for('task.index', tag='夕') }}">夕</a>
            <a href="{{ url_for('task.index', cycle='routine', tag='-日 -週 -月 -年') }}">その他定期</a>
            <a href="{{ url_for('task.index', cost='1', cycle='none', tag='-買' , rate='2under') }}">暇をみてやる</a>
        </p>
        <p>
            <a href="{{ url_for('task.index', tag='寝') }}">寝</a>
            <a href="{{ url_for('task.index', tag='猫') }}">猫</a>
            <a href="{{ url_for('task.index', tag='作') }}">創作</a>
            <a href="{{ url_for('task.index', tag='調') }}">調べ物</a>
            <a href="{{ url_for('task.index', tag='読') }}">読む</a>
            <a href="{{ url_for('task.index', tag='火遊び') }}">火遊び</a>
            <a href="{{ url_for('task.index', tag='買') }}">買い物</a>
        </p>
        <p>
            <a href="{{ url_for('task.index', tag='娯 映画') }}">映画</a>
            <a href="{{ url_for('task.index', tag='娯 アニメ') }}">アニメ</a>
            <a href="{{ url_for('task.index', tag='娯 ゲーム') }}">ゲーム</a>
            <a href="{{ url_for('task.index', tag='娯 漫画') }}">漫画</a>
            <a href="{{ url_for('task.index', tag='娯 小説') }}">小説</a>
            <a href="{{ url_for('task.index', tag='娯 ドラマ') }}">ドラマ</a>
            <a href="{{ url_for('task.index', tag='娯 ドキュメンタリー') }}">ドキュメンタリー</a>
            <a href="{{ url_for('task.index', tag='娯 -映画 -アニメ -ゲーム -漫画 -小説 -ドラマ -ドキュメンタリー') }}">他娯楽</a>
        </p>
    </section>
    <section>
        <h2>場所</h2>
        <p>
            <a href="{{ url_for('task.index', tag='居間') }}">居間</a>
            <a href="{{ url_for('task.index', tag='台所') }}">台所</a>
            <a href="{{ url_for('task.index', tag='寝室') }}">寝室</a>
            <a href="{{ url_for('task.index', tag='風呂') }}">風呂</a>
            <a href="{{ url_for('task.index', tag='作業室') }}">作業室</a>
            <a href="{{ url_for('task.index', tag='サンルーム') }}">陽室</a>
            <a href="{{ url_for('task.index', tag='玄関') }}">玄関</a>
            <a href="{{ url_for('task.index', tag='庭') }}">庭</a>
        </p>
        <p>
            <a href="{{ url_for('task.index', tag='外出') }}">外出</a>
            <a href="{{ url_for('task.index', tag='帰宅') }}">帰宅</a>
            <a href="{{ url_for('task.index', tag='スーパー') }}">スーパー</a>
            <a href="{{ url_for('task.index', tag='ホムセン') }}">ホムセン</a>
            <a href="{{ url_for('task.index', tag='百均') }}">百均</a>
            <a href="{{ url_for('task.index', tag='駅前') }}">駅前</a>
            <a href="{{ url_for('task.index', tag='実家') }}">実家</a>
        </p>
    </section>
    <section>
        <h2>衣食住</h2>
        <p>
            <a href="{{ url_for('task.index', tag='衣') }}">衣</a>
            <a href="{{ url_for('task.index', tag='飲食') }}">飲食</a>
            <a href="{{ url_for('task.index', tag='住') }}">住</a>
        </p>
        <p>
            <a href="{{ url_for('task.index', tag='食') }}">食</a>
            <a href="{{ url_for('task.index', tag='飲') }}">飲</a>
            <a href="{{ url_for('task.index', tag='剤') }}">剤</a>
            <a href="{{ url_for('task.index', tag='料理') }}">料理</a>
            <a href="{{ url_for('task.index', tag='外食') }}">外食</a>
        </p>
    </section>
    <section>
        <h2>娯楽</h2>
        <p>
            <a href="{{ url_for('task.index', tag='映画') }}">映画</a>
            <a href="{{ url_for('task.index', tag='アニメ') }}">アニメ</a>
            <a href="{{ url_for('task.index', tag='漫画') }}">漫画</a>
            <a href="{{ url_for('task.index', tag='ゲーム') }}">ゲーム</a>
            <a href="{{ url_for('task.index', tag='娯 -映画 -アニメ -漫画 -ゲーム') }}">他</a>
        </p>
        <p>
            <a href="{{ url_for('task.index', tag='アマプラ') }}">アマプラ</a>
            <a href="{{ url_for('task.index', tag='ネトフリ') }}">ネトフリ</a>
            <a href="{{ url_for('task.index', tag='ディズニープラス') }}">ディズニー＋</a>
        </p>
    </section>
    <section>
        <h2>時期</h2>
        <p>
            <a href="{{ url_for('task.index', tag='週 -初 -末') }}">週</a>
            <a href="{{ url_for('task.index', tag='月 -初 -末') }}">月</a>
            <a href="{{ url_for('task.index', tag='年 -初 -末') }}">年</a>
            <a href="{{ url_for('task.index', tag='春') }}">春</a>
            <a href="{{ url_for('task.index', tag='夏') }}">夏</a>
            <a href="{{ url_for('task.index', tag='秋') }}">秋</a>
            <a href="{{ url_for('task.index', tag='冬') }}">冬</a>
        </p>
        <p>
            <a href="{{ url_for('task.index', tag='月曜日') }}">月曜日</a>
            <a href="{{ url_for('task.index', tag='火曜日') }}">火曜日</a>
            <a href="{{ url_for('task.index', tag='水曜日') }}">水曜日</a>
            <a href="{{ url_for('task.index', tag='木曜日') }}">木曜日</a>
            <a href="{{ url_for('task.index', tag='金曜日') }}">金曜日</a>
            <a href="{{ url_for('task.index', tag='土曜日') }}">土曜日</a>
            <a href="{{ url_for('task.index', tag='日曜日') }}">日曜日</a>
        </p>
        <p>
            <a href="{{ url_for('task.index', tag='1月') }}">1月</a>
            <a href="{{ url_for('task.index', tag='2月') }}">2月</a>
            <a href="{{ url_for('task.index', tag='3月') }}">3月</a>
            <a href="{{ url_for('task.index', tag='4月') }}">4月</a>
            <a href="{{ url_for('task.index', tag='5月') }}">5月</a>
            <a href="{{ url_for('task.index', tag='6月') }}">6月</a>
            <a href="{{ url_for('task.index', tag='7月') }}">7月</a>
            <a href="{{ url_for('task.index', tag='8月') }}">8月</a>
            <a href="{{ url_for('task.index', tag='9月') }}">9月</a>
            <a href="{{ url_for('task.index', tag='10月') }}">10月</a>
            <a href="{{ url_for('task.index', tag='11月') }}">11月</a>
            <a href="{{ url_for('task.index', tag='12月') }}">12月</a>
        </p>
    </section>
</article>
<hr>
<footer>
    <form action="{{ url_for('task.index',site=site) }}" method="GET">
        <input id="search" class="text" type="text" value="" name="title">
        <input class="submitbutton" type="submit" value="検索">
    </form>
    <a href="{{ url_for('task.集計') }}">集計</a>
    <a href="{{ url_for('task.history') }}">履歴</a>
    <br>
  {% if g.user %}
    <span>{{ g.user['username'] }}</span>
    <a href="{{ url_for('auth.logout') }}">Log Out</a>
  {% else %}
    <a href="{{ url_for('auth.register') }}">Register</a>
    <a href="{{ url_for('auth.login') }}">Log In</a>
  {% endif %}
</footer>

</body>

</html>
