/* reset.css */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i, 
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}



/* アレ */
body {
  margin: 0.2em;
}

h1 {
  color: #fff;
}
/* PENDING */
h1 a {
  color: #fff;
}

h5 {
  font-size: x-small;
  margin: 0.2em 0 0;
  padding: 0;
}
h5 a:link {
  /*未訪問のリンク*/
  color: #fff;
  font-style: normal;
  text-decoration: underline;
}
h5 a:visited {
  /*訪問後のリンク*/
  color: #aaa;
  text-decoration: underline;
}

div.textarea {
  padding-right: 0.4em;
}

textarea {
  width: 100%;
}

input.submitbutton {
  width: 3em;
  height: 1.5em;
  font-size: 2em;
}

input.text {
  width: 16em;
}

input.file {
  width: 14em;
}

div.line {
  background-color: #fff;
  display: flex;
}

div.time {
  font-size: 0.6em;
  margin-right: 0.2em;
}

div.body {
  white-space: pre-wrap;
  word-break: break-all;
}

div.navi {
  margin-top: 0.2em;
  font-size: xx-small;
}

div.navi a:link {
  /*未訪問のリンク*/
  color: #fff;
  font-style: normal;
  text-decoration: underline;
}
div.navi a:visited {
  /*訪問後のリンク*/
  color: #ccc;
  text-decoration: underline;
}



/* フラスクチュートリアルスタイル 
body {
  max-width: 960px;
  margin: 0 auto;
  background: white;
}
h1 {
  font-family: serif;
  color: #377ba8;
  margin: 1rem 0;
}
a {
  color: #377ba8;
}
hr {
  border: none;
  border-top: 1px solid lightgray;
}
nav {
  background: lightgray;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
}
nav h1 {
  flex: auto;
  margin: 0;
}
nav h1 a {
  text-decoration: none;
  padding: 0.25rem 0.5rem;
}
nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li a,
nav ul li span,
header .action {
  display: block;
  padding: 0.5rem;
}
.content {
  padding: 0 1rem 1rem;
}
.content > header {
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: flex-end;
}
.content > header h1 {
  flex: auto;
  margin: 1rem 0 0.25rem 0;
}
.flash {
  margin: 1em 0;
  padding: 1em;
  background: #cae6f6;
  border: 1px solid #377ba8;
}
.post > header {
  display: flex;
  align-items: flex-end;
  font-size: 0.85em;
}
.post > header > div:first-of-type {
  flex: auto;
}
.post > header h1 {
  font-size: 1.5em;
  margin-bottom: 0;
}
.post .about {
  color: slategray;
  font-style: italic;
}
.post .body {
  white-space: pre-line;
}
.content:last-child {
  margin-bottom: 0;
}
.content form {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
}
.content label {
  font-weight: bold;
  margin-bottom: 0.5em;
}
.content input,
.content textarea {
  margin-bottom: 1em;
}
.content textarea {
  min-height: 12em;
  resize: vertical;
}
input.danger {
  color: #cc2f2e;
}
input[type="submit"] {
  align-self: start;
  min-width: 10em;
}
/* フラスクチュートリアルスタイル */